<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Connect Platform Automation Suite">

	<listeners>
		<listener
			class-name="com.ch.ExtentReportListener.ExtentReporter" />
	</listeners>
	<test name="Connect Platform Business Test">

		<classes>
			<class name="com.ch.tests.DashboardPageTest" />
			<class name="com.ch.tests.PatientNotesPageTest" />
			<class name="com.ch.tests.ClaimsSubmissionPageTest" />
			<class name="com.ch.tests.PrescriberfaxPageTest" />
			<class name="com.ch.tests.UnfinishedClaimsPageTest" />
			<class name="com.ch.tests.CMRPageTest1" />
			<class name="com.ch.tests.TIPPageTest" />
			<!-- <class name="com.ch.tests.TIPPageTest" /> -->
			<!-- <class name="com.ch.tests.ClientReportsPageTest" />
			<class name="com.ch.tests.QAAdminReportsPageTest" />
			<class name="com.ch.tests.PharmacyAdminReportsPageTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
